@use "../abstracts" as abs;
.buttons{
  display: flex;
  gap: 2.5rem;
  & button{
    width: min(25vw,20rem);
    height: 5rem;
    padding: 0;
    & div, div span{
      width: 100%;
      display: flex;
      justify-content: center;
      gap: .5rem;
      & svg{
        width: 2rem;
        height: 2rem;
        fill: abs.$color-white;
      }
    }
  }
}