@use "../abstracts" as abs;
.mantine-Calendar{
  &-calendarBase{
    justify-content: center;
  }
  &-day{
    width: min(14vw,10rem);
    height: 8vh;
    color: abs.$color-white;
    &:hover{background-color: abs.$color-blue; color: abs.$color-white !important;}
    @media only screen and (min-width: abs.$bp-smallest){height: 8rem;}
  }
  &-outside{
    opacity: .5;
    &:hover{opacity: 1}
  }
  &-month tr &-cell &-weekend{color: abs.$color-blue;}
  &-calendarHeaderLevel,&-calendarHeaderControl, &-monthPickerControl,&-yearPickerControl{
    color: abs.$color-white;
    &:hover{background-color: abs.$color-blue;}
  }
  &-selected{
    background-color: abs.$color-blue !important;
    color: abs.$color-white !important;
  }
  &-yearPicker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-monthPickerControls, &-yearPickerControls{width: max-content;}
  &-monthPickerControl, &-yearPickerControl{
    width: min(7.5vw,3rem);
    height: min(10vh,8rem);
  }
}